BODY {
	
	background-image:url(bg.jpg);
	FONT-SIZE: 12px;
}
*{FONT-SIZE: 12px;}
a{ font-size:12px; color:#FFFFFF; text-decoration:none}
#fenye a{ font-size:12px; color:#000000; text-decoration:none}
.newsline TD {
	LINE-HEIGHT: 25px; BORDER-BOTTOM: #c9c9c9 1px dashed
}
.newsline TD A:link {
	COLOR: #000
}
.newsline TD A:visited {
	COLOR: #000
}
.newsline TD A:hover {
	COLOR: #000
}
.newsline TD A:active {
	COLOR: #000
}
.STYLE3 {color: #006633; font-weight: bold; font-size:12px; }
.STYLE4 {color: #FFFFFF;font-weight: bold;}

.STYLE7 {color: #999999; }
.STYLE8 {color: #039F20}
.ggtile {color: #3CACA4; font-weight: bold; }